<ion-header class="ion-no-border">
  <ion-toolbar>
      <img class="rounded-circle logo" src="../../assets/images/Logo-home.png" />
      <img class="rounded-circle mahavir mr-2" slot="end" src="../../assets/images/profile-pic.png" />
  </ion-toolbar>
</ion-header>

<ion-content>
  

    <ion-grid class="p-0 mt-0 mb-5">
      <ion-row class="mt-4 pb-3 align-items-center px-2">
        <ion-col size="1">
             <svg (click)="go_to_url('./account')" width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.75 0.25C6.15625 0.25 0 6.40625 0 14C0 21.5937 6.15625 27.75 13.75 27.75C21.3437 27.75 27.5 21.5937 27.5 14C27.5 6.40625 21.3437 0.25 13.75 0.25ZM16.5087 9.88375C16.7364 9.648 16.8624 9.33224 16.8596 9.0045C16.8567 8.67675 16.7253 8.36324 16.4935 8.13148C16.2618 7.89972 15.9482 7.76825 15.6205 7.76541C15.2928 7.76256 14.977 7.88855 14.7412 8.11625L9.74125 13.1162C9.50691 13.3507 9.37527 13.6685 9.37527 14C9.37527 14.3315 9.50691 14.6493 9.74125 14.8837L14.7412 19.8837C14.977 20.1114 15.2928 20.2374 15.6205 20.2346C15.9482 20.2317 16.2618 20.1003 16.4935 19.8685C16.7253 19.6368 16.8567 19.3232 16.8596 18.9955C16.8624 18.6678 16.7364 18.352 16.5087 18.1162L12.3925 14L16.5087 9.88375Z" fill="#ACABAB"/>
              </svg>
        </ion-col>
        <ion-col size="11" class="pl-2">
         <IonItem class="search-wraper positionrelative">
           <ion-input type="text" value="" placeholder="Search"></ion-input>
           <ion-icon name="search-outline"></ion-icon>
         </IonItem>
        </ion-col>
      </ion-row>

      <ion-card class="my-0 pb-0 mt-1 shadow-none">
   
         <ion-row class="px-2 py-2">
            <ion-col col="12">
              <ion-row class="px-3 py-3 bg-4 mb-3 border-radius align-items-center">
                <ion-col size="8" class="" [routerLink]="['account-balance']">
                    <h3 class="py-3">ACCOUNT BALANCE</h3>
                </ion-col>
                <ion-col size="4" class="ion-text-right">
                  <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40 41H8C5.8 41 4 39.2 4 37V16.1C4 14.8 4.6 13.6 5.7 12.8L24 0L42.3 12.8C43.4 13.5 44 14.8 44 16.1V37C44 39.2 42.2 41 40 41Z" fill="#78909C"/>
                    <path d="M14 1H34V32H14V1Z" fill="#AED581"/>
                    <path d="M13 0V33H35V0H13ZM33 31H15V2H33V31Z" fill="#558B2F"/>
                    <path d="M34 3C34 4.7 33.7 6 32 6C30.3 6 29 4.7 29 3C29 1.3 30.3 1 32 1C33.7 1 34 1.3 34 3Z" fill="#558B2F"/>
                    <path d="M16 1C17.7 1 19 1.3 19 3C19 4.7 17.7 6 16 6C14.3 6 14 4.7 14 3C14 1.3 14.3 1 16 1Z" fill="#558B2F"/>
                    <path d="M24 10C25.1046 10 26 9.10457 26 8C26 6.89543 25.1046 6 24 6C22.8954 6 22 6.89543 22 8C22 9.10457 22.8954 10 24 10Z" fill="#558B2F"/>
                    <path d="M24 26C27.3137 26 30 23.3137 30 20C30 16.6863 27.3137 14 24 14C20.6863 14 18 16.6863 18 20C18 23.3137 20.6863 26 24 26Z" fill="#558B2F"/>
                    <path d="M40 41H8C5.8 41 4 39.2 4 37V17L24 30L44 17V37C44 39.2 42.2 41 40 41Z" fill="#CFD8DC"/>
                    </svg>
                    
                    
                </ion-col>
                </ion-row>
           
            </ion-col>
         </ion-row>
         <ion-row class="px-2">
            <ion-col size="12">
                <ion-row class="border-bottom border-dark pb-3">
                  <ion-col size="6" class="text-left">
                    <ion-text class="h5">Total Expense</ion-text>
                    <h3 class="font-weight-bold mt-2">Rs. 170.56CR</h3>
                  </ion-col>
                  <ion-col size="6" class="text-left">
                    <ion-text>Total Balance</ion-text>
                    <h3 class="font-weight-bold mt-2">Rs. 170.56CR</h3>
                  </ion-col>
                  <!-- <ion-col size="6" class="text-left">
                   <ion-text>Expense</ion-text>
                   <h3 class="font-weight-bold mt-2">Rs. 180.56CR</h3>
                 </ion-col> -->
                </ion-row>
            </ion-col>
            
         
        </ion-row>
        <ion-row class="px-2">
          <ion-col size="12" class="pb-0 pt-2">
              <ion-row class="">
                <ion-col size="8" class="text-left">
                  <ion-text>Last Transactions</ion-text>
                </ion-col>
                <ion-col size="4" class="text-right">
                  <span class="h6 font-weight-bold view">View All</span>
                </ion-col>
              </ion-row>
          </ion-col>
          <ion-col size="12" class="pt-0">
            <ion-row class="align-items-center">
              <ion-col size="2" class="text-left">
                <ion-text>Today</ion-text>
              </ion-col>
              <ion-col size="10" class="text-center">
                <div class="border-bottom"></div>
              </ion-col>
            </ion-row>
        </ion-col>
          
       
      </ion-row>
         <ion-row class="mt-2">
           <ion-col size="12" class="px-3">
                <ion-row class="bg-white pt-2 pb-1 align-items-center">
                  <ion-col size="2">
                    <img class="m-auto d-block" src="../../../../assets/new/mahin.png" alt="">
                  </ion-col>
                    <ion-col size="6">
                     
                      <span class="font-weight-bold h6">Mahindra</span>
                    </ion-col>
                   
                    <ion-col size="4"  class="text-right">
                      <span class="font-weight-bold h6">Rs.95 lkh</span>
                    </ion-col>
                </ion-row>

                <ion-row class="bg-white py-2 align-items-center">
                  <ion-col size="2">
                    <img class="m-auto d-block" src="../../../../assets/new/kotak.png" alt="">
                  </ion-col>
                  <ion-col size="6">
                   
                    <span class="font-weight-bold h6">Kotak</span>
                  </ion-col>
                 
                  <ion-col size="4" class="text-right">
                    <span class="font-weight-bold h6">Rs.75 lkh</span>
                  </ion-col>
              </ion-row>

            

           </ion-col>
        </ion-row>
      </ion-card>
      
    </ion-grid>
  <!-- <ion-button  [routerLink]="['/tabs/home']">back</ion-button> -->
</ion-content>
