

ion-content {
  --background: #ededed;
}
.alert-wraper{
  background: #FFFFFF;
  border-radius: 10px;
  .boredr-blue{
    border-left: 8px solid #168DFB;
  }
  .boredr-red{
    border-left: 8px solid #C92048;
  }
  h5{
    font-size: 16px;
    font-weight: bold;
  }
  .card-container{
   
    p{
      font-size: 13px;
      margin-bottom: 30px;
    }
    .bottom-text{
      background: #E8E8E8;
      bottom: 0px;
      font-size: 9px;
      // font-weight: bold;
      width: 100%;
      border-radius: 0 0 10px 10px;
      padding-left: 10px;
    }
  }
  .bg-g{
    background: #EFF2F7;
    border-radius:10px;
  }
 
}




.mahavir{
  max-width: 50px;
}
.logo{
  max-width: 100px;
}