<ion-header class="ion-no-border">
  <ion-toolbar>
      <img class="rounded-circle logo" src="../../assets/images/Logo-home.png" />
      <img class="rounded-circle mahavir mr-2" slot="end" src="../../assets/images/profile-pic.png" />
  </ion-toolbar>
</ion-header>

<ion-content>
  

    <ion-grid class="p-0 mt-0 mb-5">
      <ion-row class="mt-4 pb-3 align-items-center px-2">
        <ion-col size="1">
             <svg (click)="go_to_url('./account')" width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.75 0.25C6.15625 0.25 0 6.40625 0 14C0 21.5937 6.15625 27.75 13.75 27.75C21.3437 27.75 27.5 21.5937 27.5 14C27.5 6.40625 21.3437 0.25 13.75 0.25ZM16.5087 9.88375C16.7364 9.648 16.8624 9.33224 16.8596 9.0045C16.8567 8.67675 16.7253 8.36324 16.4935 8.13148C16.2618 7.89972 15.9482 7.76825 15.6205 7.76541C15.2928 7.76256 14.977 7.88855 14.7412 8.11625L9.74125 13.1162C9.50691 13.3507 9.37527 13.6685 9.37527 14C9.37527 14.3315 9.50691 14.6493 9.74125 14.8837L14.7412 19.8837C14.977 20.1114 15.2928 20.2374 15.6205 20.2346C15.9482 20.2317 16.2618 20.1003 16.4935 19.8685C16.7253 19.6368 16.8567 19.3232 16.8596 18.9955C16.8624 18.6678 16.7364 18.352 16.5087 18.1162L12.3925 14L16.5087 9.88375Z" fill="#ACABAB"/>
              </svg>
        </ion-col>
        <ion-col size="11" class="pl-2">
         <IonItem class="search-wraper positionrelative">
           <ion-input type="text" value="" placeholder="Search"></ion-input>
           <ion-icon name="search-outline"></ion-icon>
         </IonItem>
        </ion-col>
      </ion-row>

      <ion-card class="my-0 pb-0 mt-1 shadow-none">
   
        <ion-row class="px-3 mb-3 mx-3 mt-2 py-3 bg-2  border-radius align-items-center">
          <ion-col col="8">
              <h3 class="mt-0">DONATORS</h3>
          </ion-col>
          <ion-col col="4" class="ion-text-right">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.1875 22.4999L17.5 32.8124L27.3958 28.7499L31.9792 15.5208L16.5625 16.3541L12.1875 22.4999Z" fill="#E69329"/>
              <path d="M15.625 45.6251C20.1123 45.6251 23.75 41.9874 23.75 37.5001C23.75 33.0128 20.1123 29.3751 15.625 29.3751C11.1377 29.3751 7.5 33.0128 7.5 37.5001C7.5 41.9874 11.1377 45.6251 15.625 45.6251Z" fill="#546E7A"/>
              <path d="M15.625 28.125C10.4167 28.125 6.25 32.2917 6.25 37.5C6.25 42.7083 10.4167 46.875 15.625 46.875C20.8333 46.875 25 42.7083 25 37.5C25 32.2917 20.8333 28.125 15.625 28.125ZM15.625 44.7917C11.5625 44.7917 8.33333 41.5625 8.33333 37.5C8.33333 33.4375 11.5625 30.2083 15.625 30.2083C19.6875 30.2083 22.9167 33.4375 22.9167 37.5C22.9167 41.5625 19.6875 44.7917 15.625 44.7917Z" fill="#90A4AE"/>
              <path d="M14.5833 34.375H16.6666V42.7083H14.5833V34.375Z" fill="#90A4AE"/>
              <path d="M13.4374 37.5C14.4791 39.4792 16.7707 40.3125 18.7499 39.2709L35.9374 30.4167C36.9791 29.8959 37.7082 29.1667 38.2291 28.4375C39.9999 25.1042 44.0624 17.2917 46.7707 10.5209L27.8124 19.5834L22.8124 27.0834L15.7291 30.8334C13.0207 32.1875 12.1874 35.2084 13.4374 37.5Z" fill="#FFB74D"/>
              <path d="M31.4581 3.125L14.2706 9.6875C13.5415 9.89583 12.7081 10.7292 11.979 11.4583L6.14563 19.2708C5.10396 20.8333 4.89563 22.8125 5.6248 24.5833C6.04146 25.625 7.39563 28.125 8.85396 30.9375C10.5206 29.1667 12.9165 28.125 15.6248 28.125C16.0415 28.125 16.5623 28.125 16.979 28.2292L14.7915 23.8542L19.5831 19.5833H27.9165C27.9165 19.5833 44.0623 17.2917 46.8748 10.5208L31.4581 3.125Z" fill="#FFB74D"/>
              <path d="M18.9586 37.5C17.6044 38.125 16.0419 37.5 15.5211 36.1458C14.8961 34.7917 15.5211 33.2292 16.8752 32.7083C18.1252 32.0833 20.2086 36.875 18.9586 37.5Z" fill="#FFCDD2"/>
              </svg>
              
              
          </ion-col>
          </ion-row>
         <!-- <ion-row>
          <ion-col size="1">
               
          </ion-col>
           <ion-col size="5">
               
           </ion-col>
           <ion-col size="3">
            <ion-text>Expense</ion-text>
          </ion-col>
          <ion-col size="3" class="text-right">
            <ion-text>Income</ion-text>
          </ion-col>
         </ion-row> -->
         <ion-row>
           <ion-col size="12" class="px-3">
                <ion-row class="bg-light py-2 align-items-center">
                  <ion-col size="2">
                    <img class="m-auto d-block" src="../../../../assets/new/place-image.png" alt="">
                  </ion-col>
                    <ion-col size="6">
                      <span class="font-weight-bold h6">NGO</span>
                    </ion-col>
                    <!-- <ion-col size="3">
                    <span class="font-weight-bold font-12">Rs.15 lkh</span>
                    </ion-col> -->
                    <ion-col size="4" class="text-right">
                      <span class="font-weight-bold font-12">Rs.20 lkh</span>
                    </ion-col>
                </ion-row>

                <ion-row class="bg-white py-2 align-items-center">
                  <ion-col size="2">
                    <img class="m-auto d-block" src="../../../../assets/new/place-image.png" alt="">
                  </ion-col>
                  <ion-col size="6">
                   
                    <span class="font-weight-bold h6">Jain Community</span>
                  </ion-col>
                  <!-- <ion-col size="3">
                  <span class="font-weight-bold font-12">Rs.25 lkh</span>
                  </ion-col> -->
                  <ion-col size="4" class="text-right">
                    <span class="font-weight-bold font-12">Rs.35 lkh</span>
                  </ion-col>
              </ion-row>

              <ion-row class="bg-light py-2 align-items-center">
                <ion-col size="2">
                  <img class="m-auto d-block" src="../../../../assets/new/place-image.png" alt="">

                </ion-col>
                <ion-col size="6">
                  <span class="font-weight-bold h6">Jain Charitable Trust</span>
                </ion-col>
                <!-- <ion-col size="3">
                <span class="font-weight-bold font-12">Rs30 lkh</span>
                </ion-col> -->
                <ion-col size="4" class="text-right">
                  <span class="font-weight-bold font-12">Rs45 lkh</span>
                </ion-col>
            </ion-row>

            <ion-row class="bg-white py-2 align-items-center">
              <ion-col size="2">
                <img class="m-auto d-block" src="../../../../assets/new/place-image.png" alt="">
              </ion-col>
              <ion-col size="6">
               
                <span class="font-weight-bold h6">Jain Mukti Morcha</span>
              </ion-col>
              <!-- <ion-col size="3">
              <span class="font-weight-bold font-12">Rs.15 lkh</span>
              </ion-col> -->
              <ion-col size="4" class="text-right">
                <span class="font-weight-bold font-12">Rs.20 lkh</span>
              </ion-col>
          </ion-row>

          <ion-row class="bg-light py-2 align-items-center">
            <ion-col size="2">
              <img class="m-auto d-block" src="../../../../assets/new/place-image.png" alt="">

            </ion-col>
            <ion-col size="6">
              <span class="font-weight-bold h6">Jain Temple</span>
            </ion-col>
            <!-- <ion-col size="3">
            <span class="font-weight-bold font-12">Rs.45 lkh</span>
            </ion-col> -->
            <ion-col size="4" class="text-right">
              <span class="font-weight-bold font-12">Rs.65 lkh</span>
            </ion-col>
        </ion-row>

        <ion-row class="bg-white py-2 align-items-center">
          <ion-col size="2">
            <img class="m-auto d-block" src="../../../../assets/new/place-image.png" alt="">
          </ion-col>
          <ion-col size="6">
           
            <span class="font-weight-bold h6">Young Jain Professionals</span>
          </ion-col>
          <!-- <ion-col size="3">
          <span class="font-weight-bold font-12">Rs.75 lkh</span>
          </ion-col> -->
          <ion-col size="4" class="text-right">
            <span class="font-weight-bold font-12">Rs.95 lkh</span>
          </ion-col>
      </ion-row>

      <!-- <ion-row class="bg-light py-2 align-items-center">
        <ion-col size="2">
          <img class="m-auto d-block" src="../../../../assets/new/mahin.png" alt="">
        </ion-col>
        <ion-col size="6">
         
          <span class="font-weight-bold h6">Mahindra</span>
        </ion-col>
        <ion-col size="3">
        <span class="font-weight-bold font-12">Rs.95 lkh</span>
        </ion-col>
        <ion-col size="4" class="text-right">
          <span class="font-weight-bold font-12">Rs.98 lkh</span>
        </ion-col>
      </ion-row>

      <ion-row class="bg-white py-2 align-items-center">
        <ion-col size="2">
          <img class="m-auto d-block" src="../../../../assets/new/god.png" alt="">
        </ion-col>
        <ion-col size="6">
         
          <span class="font-weight-bold h6">Goderej</span>
        </ion-col>
        <ion-col size="3">
        <span class="font-weight-bold font-12">Rs.3 Cr</span>
        </ion-col>
        <ion-col size="4" class="text-right">
          <span class="font-weight-bold font-12">Rs.6 Cr</span>
        </ion-col>
      </ion-row>

      <ion-row class="bg-light py-2 align-items-center">
        <ion-col size="2">
          <img class="m-auto d-block" src="../../../../assets/new/bajaj.png" alt="">
        </ion-col>
        <ion-col size="6">
         
          <span class="font-weight-bold h6">Bajaj</span>
        </ion-col>
        <ion-col size="3">
        <span class="font-weight-bold font-12">Rs.1 lkh</span>
        </ion-col>
        <ion-col size="4" class="text-right">
          <span class="font-weight-bold font-12">Rs.7lkh</span>
        </ion-col>
      </ion-row>
      <ion-row class="bg-white py-2 align-items-center">
        <ion-col size="2">
          <img class="m-auto d-block" src="../../../../assets/new/airtal.png" alt="">
        </ion-col>
        <ion-col size="6">
         
          <span class="font-weight-bold h6">Airtel</span>
        </ion-col>
        <ion-col size="3">
        <span class="font-weight-bold font-12">Rs.2 Cr</span>
        </ion-col>
        <ion-col size="4" class="text-right">
          <span class="font-weight-bold font-12">Rs.3 Cr</span>
        </ion-col>
      </ion-row> -->

           </ion-col>
        </ion-row>
      </ion-card>
      
    </ion-grid>
  <!-- <ion-button  [routerLink]="['/tabs/home']">back</ion-button> -->
</ion-content>
