ion-content {
  --background: #ededed;
  }
  h5{
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
  }
  p{
    font-size: 13px; 
  }
.mahavir{
    max-width: 50px;
  }
  .logo{
    max-width: 100px;
  }