<ion-tabs>

  <ion-tab-bar slot="bottom" [noOverflow]="false">
    <ion-tab-button tab="profile">
      <ion-icon name="person" size="large"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
       <div class="home-circle rounded-circle position-absolute">
          <ion-icon name="home" size="large"></ion-icon>
       </div>
      <ion-label class="home-label">Home</ion-label>
    </ion-tab-button>

    

    <ion-tab-button tab="settings">
      
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
