ion-content {
    --background: #ededed;
    }
  h3{
      font-size: 16px;
      font-weight: 700;
      color: #000;
      line-height: 18px;
      margin-bottom: 0;
  }
  ion-text{
      font-size: 12px;
  }
  .bg-2{
    background: #FFEACB;
  }
  span{
    color: #000;
  }
  .h6{
      font-size: 14px;
      color: #000;
  }
  .border-radius{
    border-radius: 10px;
  }
  .font-12{
      font-size: 12px;
      font-weight: 700;  
  }
  .bg-1{
     background: #FFEAE9;
  }
  
  .logo{
      max-width: 100px;
    }
    .mahavir{
      max-width: 50px;
    }