ion-content{
    background: url(../../assets/new/login-bg.png) no-repeat center center/cover;
    height: 100%;
    ion-grid{
        padding: 0;
    }
    h1{
        font-size: 26px;
        line-height: 32px;
        font-weight: bold;
        color: #FFA6B7;
        span{
            color: #FFFFFF;
        }
    }
    h5{
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }

    }

ion-button{
    font-size: 18px;
    height: 42px;
    line-height: 27px;
    font-weight: 600;
    --background: #178EFC;
    --border-radius: 32px;
    color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.11);
    @media(max-width: 320px){
        font-size: 14px;
        height: 40px;
    }
}
.yellow{
   color: #178EFC;
   font-size: 12px;
   font-weight: bold;
}
.login-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 50px 50px 0px 0px;
}
ion-input{
    --padding-start: 15px !important;
    border: 1px solid #f2f2f2;
    --background: #EFF2F7;
    border-radius: 32px;
    color: #464646;
    font-size: 16px;
    height: 48px;
    opacity: 1;
    --placeholder-color: #464646;
    --placeholder-opacity: 1;
    font-weight: 400;
    @media(max-width: 320px){
        font-size: 14px !important;
        height: 40px;
    }
}

// .mahavir{
//     max-width: 229px;
// }

.bdr{
    border-left: 1px solid #5A5A5A;
}
