
ion-content{
    background: url(../../assets/new/next-bg.png) no-repeat center center/cover;
    height: 100%;
    h1{
        font-size: 18px;
        line-height: 29px;
        text-transform: uppercase;
    }
}

.mahvir{
    max-width: 154px;
}