<!-- 
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"  [routerLink]="['/tabs/home']">
     <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->




<ion-content class="login-bg">
  <ion-fab class="mb-4 mr-4" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" [routerLink]="['/tabs/home']">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
   <!-- <ion-button [routerLink]="['/welcome']">Welcome page</ion-button> -->
   <ion-grid>
   
    <ion-row  class="ion-align-items-center mt-5">
      <ion-col size="12" class="px-4">
        <div class="mb-4 ion-text-center">
           <h1 class="text-white">||ॐ श्री महावीराय नमः ||</h1>
           <img src="../../assets/new/mahvir.png" alt="mewad-logo">
           <img class="mt-4" src="../../assets/new/mewad-logo.png" alt="mewad-logo">
           <!-- <ion-button class="login-btn" [routerLink]="['/tabs/home']"  expand="block"  fill="outline" >Next</ion-button> -->
          </div>
        <div>
          
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>

  
