ion-content {
  --background: #ededed;
  }
  
h3{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 18px;
    margin-bottom: 0;
}
.h5{
    font-size: 18px;
}
ion-text{
    font-size: 12px;
}
.view{
    color: #178EFC !important;
}
.border-radius{
  border-radius: 10px;
}
.font-12{
    font-size: 12px;
    font-weight: 700;  
}
.bg-4{
    background: #E3FFEF;
  }

.logo{
    max-width: 100px;
  }
  .mahavir{
    max-width: 50px;
  }